
.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #FF6634, #F53D2D);
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: var(--navbar-height);
}

.navbar__list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    display: flex;
}

.navbar__item {
    padding: 0 8px;
    /* margin: 0 8px; */
    position: relative;
}

.navbar__user {
    display: flex;
    justify-items: center;
}

.navbar__user-img {
    width: 22px;
    height: 22px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 50%;
}

.navbar__user-name {
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 400;
}

.navbar__user:hover .navbar__user-dropdown {
    display: block;
}

.navbar__user-dropdown {
    display: none;
    position: absolute;
    top: calc(100% + 7px);
    right: 8px;
    width: 150px;
    background-color: var(--white-color);
    z-index: 2;
    border-radius: 2px;
    transform-origin: calc(100% - 50px)  top;
    animation: dropdownGrowth ease-in 0.2s;
    will-change: opacity, transform;
    box-shadow: 0 1px 4px #999999;
}

.navbar__user-dropdown::before {
    content: "";
    display: block;
    position: absolute;
    top: -26px;
    right: 14px;
    cursor: pointer;
    z-index: -1;
    border-style: solid;
    border-width: 20px 30px;
    border-color: transparent transparent var(--white-color) transparent;
}

.navbar__user-dropdown::after {
    content: "";
    display: block;
    position: absolute;
    top: -9px;
    right: 0;
    z-index: -2;
    width: 70%;
    height: 10px;
}

.user-dropdown__item {
    display: block;
    color: var(--text-color);
    font-size: 1.6rem;
    padding: 10px 14px;
}

.user-dropdown__item:hover {
    color: #28AA8D;
    background-color: #f8f8f8;
    cursor: pointer;
}

.user-dropdown__item:first-child {
    padding-top: 12px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.user-dropdown__item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.user-dropdown__item--separate {
    color: #919496;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.navbar__icon-link,
.navbar__item-link,
.navbar__item,
.navbar__item > a{
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
}

.navbar__icon-link:nth-child(2) {
    padding-left: 3px;
}

.navbar__item {
    position: relative;
    height: 1.6rem;
    display: flex;
    align-items: center;
}

.navbar__item--strong {
    font-weight: 500;
}

/* way 1 to add separate */
/* .navbar__item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #FB9086;
    height: 12px;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
} */

/* way 2 to add separate */
.navbar__item--separate {
    border-right: 2px solid #FB9086;
}

.navbar__icon-link:hover,
.navbar__item-faded:hover > span,
.navbar__item-faded:hover > a {
    opacity: 0.7;
    cursor: pointer;
}

.navbar-icon {
    font-size: 1.6rem;
    margin: 0 5px;
}

.fa-instagram {
    font-size: 1.8rem;
}

.fa-facebook {
    margin-left: 7px;
}

/* Navbar QR code */
.navbar__qr {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 8px;
    top: calc(100% + 10px);
    padding: 8px 8px 0;
    border-radius: 2px;
    z-index: 1;
    display: none;
    animation: fadeIn ease-in 0.2s;
}

.navbar__qr::before {
    content: "";
    display: block;
    position: absolute;
    height: 32px;
    top: -16px;
    left: 0;
    width: 100%;
}

.navbar__qr-img {
    width: 100%;
}

.navbar__qr-apps {
    padding: 4px 11px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.navbar__qr-apps-download {
    height: 15px;
}

.navbar__qr-link:last-child > img {
    height: 12px;
}

.navbar__qr-link:last-child {
    margin-top: 4px;
}

.navbar__item--open-qr:hover > .navbar__qr {
    display: block;
    opacity: 1;
}

.navbar__connect--no-hover:hover {
    cursor: text;
}

.navbar__item--open-notify:hover .navbar__notify {
    display: block;
}

.navbar__item--open-notify:hover::before .navbar__notify {
    scale: 1;
}

/* Header Notification */
.navbar__notify {
    position: absolute;
    top: calc(100% + 10px);
    right: 8px;
    width: 404px;
    background-color: var(--white-color);
    border-radius: 2px;
    border: 1px solid #D3D3D3;
    transform-origin: calc(100% - 40px)  top;
    animation: dropdownGrowth ease-in 0.2s;
    will-change: opacity, transform; /*attribute trên trình duyệt giúp tối ưu chuyển động*/
    display: none;
    transition: 1s;
    z-index: 1;
} 

@keyframes dropdownGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.navbar__notify::before {
    content: "";
    display: block;
    position: absolute;
    height: 32px;
    top: -20px;
    right: 0;
    width: 100px;
}

.navbar__notify::after {
    content: "";
    display: block;
    position: absolute;
    top: -30px;
    right: 8px;
    border-style: solid;
    border-width: 20px 30px;
    border-color: transparent transparent var(--white-color) transparent;
}
/* another way to do instead of above */
/* transform: rotate(45deg) */

.notify__header {
    height: 40px;
    color: #727272;
    line-height: 40px;
    font-size: 1.6rem;
    font-weight: 400;
    margin-left: 12px;
}

.notify__list {
    padding-left: 0;
}

.notify__link {
    width: 100%;
    display: flex;
    text-decoration: none;
    padding: 12px;
}

.notify__img {
    width: 48px;
    object-fit: contain;
}

.notify__info {
    margin-left: 12px;
}

.notify__title {
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
}

.notify__desc {
    color: #727272;
    font-size: 1rem;
    line-height: 1.2rem;
    margin-top: 4px;
}

.notify__item--viewed {
    background-color: rgba(238, 77, 45, 0.1);
}

.notify__item:hover {
    background-color: #f6f6f6;
}

.notify__footer-btn {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 8px 0;
    color: var(--black-color);
}

/* Authen */ 

.auth-form {
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    justify-content: space-between;
    padding: 24px 12px;
    margin-top: 10px;
}

.auth-form__heading {
    font-size: 2.2rem;
    color: var(--text-color);
}

.auth-form__swith-btn {
    font-size: 1.6rem;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 1px;
    outline: none;
}

.auth-form__input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #999;
    opacity: 1; /* Firefox */
}

.auth-form__input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #999;
}
  
.auth-form__input:-ms-input-placeholder { /* Microsoft Edge */
    color: #999;
}

.auth-form__input:focus {
    border-color: #727272;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.auth-form__aside {
    margin-top: 18px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
}

.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__control {
    margin: 80px 0 22px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__control-back {
    margin-right: 8px;
}

.auth-form__footer {
    background-color: #f5f5f5;
    padding: 16px 32px;
    display: flex;
    justify-content: space-evenly;
}

.auth-form__footer-icon {
    font-size: 1.8rem;
}

.auth-form__footer--facebook {
    color: var(--white-color);
    background-color: #1877F2;
    flex: 1;
    margin: 0 4px;
}

.auth-form__footer--google {
    color: #666;
    background-color: var(--white-color);
    flex: 1;
    margin: 0 4px;
}

.auth-form__footer-fbtext {
    padding: 0 22px;
}

.auth-form__footer-ggtext {
    padding: 0 26px;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.auth-form__help-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}

.auth-form__help-separate {
    display: block;
    border-left: 2px solid #EAEAEA;
    height: 22px;
    margin: 0 16px;
}

.auth-form__help-forgot {
    color: var(--primary-color);
}

/* Header with search */

.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__logo {
    width: 200px;
}

.header__logo-img {
    width: 150px;
}

.header__logo-link {
    text-decoration: none;
    color: transparent;
}

.header__search {
    background-color: var(--white-color);
    height: 40px;
    flex: 1;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.header__cart {
    height: 40px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__cart-wrap {
    position: relative;
    padding: 0 8px;
    cursor: pointer;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-icon {
    color: var(--white-color);
    font-size: 2.4rem;
}

.header__cart-notice {
    position: absolute;
    top: -22px;
    left: 24px;
    border: 2px solid #ee4d2d;
    font-size: 1.4rem;
    line-height: 1.4rem;
    min-width: 2.4rem;
    padding: 0 4px;
    text-align: center;
    border-radius: 10px;
    background-color: var(--white-color);
    color: var(--primary-color);
}

.header__cart-list {
    display: none;
    position: absolute;
    top: calc(100% + 10px);
    right: -3px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    transform-origin: calc(100% - 20px)  top;
    animation: dropdownGrowth ease-in 0.2s;
    will-change: opacity, transform;
    box-shadow: 0 1px 3.125rem rgba(0,0,0,0.2);
    cursor: default;
}

.header__cart-list::after {
    content: "";
    position: absolute;
    right: 6px;
    top: -22px;
    border-width: 12px 16px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}

.header__cart-list::before {
    content: "";
    position: absolute;
    right: 0px;
    top: -22px;
    width: 60px;
    height: 30px;
}

.header__cart-list--no-cart .header__cart-no-cart-img {
    display: block;
}

.header__cart-no-cart-img {
    width: 90%;
    margin: auto;
    display: none;
}

.header__cart-heading {
    text-align: left;
    margin: 14px;
    font-size: 1.4rem;
    font-weight: 400;
    color: #999;
}

.header__cart-list-tiem {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.header__cart-item {
    display: flex;
    padding: 10px;
    align-items: center;
}

.header__cart-item:hover  {
    background-color: #f8f8f8;
}

.header__cart-img {
    width: 44px;
    border: 1px solid #dbdbdb;
}

.header__cart-item-info {
    flex: 1;
    margin-left: 14px;
}

.header__cart-item-head {
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
}

.header__cart-item-head:hover {
    cursor: text;
}

.header__cart-item-name {
    font-weight: 400;
    color: var(--text-color);
    flex: 1;
    margin: 0;
}

.header__cart-item-price {
    font-weight: 400;
    color: var(--primary-color);
}

.header__cart-item-multiply {
    font-size: 1rem;
    margin: 0 4px;
    color: #717171;
}

.header__cart-item-quantity {
    font-size: 1.2rem;
    color: #717171;
}

.header__cart-item-body {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.header__cart-item-desc {
    font-size: 1.2rem;
    font-weight: 300;
    color: #717171;
}

.header__cart-item-remove {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
}

.header__cart-item-remove:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.header__cart-view-btn {
    float: right;
    margin: 10px;
}

.header__cart-view-btn:hover {
    background-color: #f05d41;
}

.search-input {
    flex: 1;
    height: 100%;
    position: relative;
}

.search-input__type {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 12px;
    border-radius: 2px;
}

.search-input__type:focus ~ .search-history {
    display: block;
}

/* search history */

.search-history {
    position: absolute;
    top: calc(100% + 3px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 4px #999999;
    margin: 0;
    overflow: hidden;
    display: none;
}

.search-history::before {
    content: "";
    display: block;
    position: absolute;
    height: 30px;
    width: 100%;
    top: -10px;
    left: 0;
}

.search-history__heading {
    margin: 8px 12px;
    color: #BBBBBB;
    font-size: 1.4rem;
    font-weight: 400;
}

.search-history__list {
    padding: 0;
    margin: 0;
}

.search-history__item {
    height: 38px;
    padding: 8px 12px;
    list-style: none;
}

.search-history__item:hover {
    background-color: #fafafa;
}

.search-history__item a {
    display: block;
    line-height: 22px;
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
}

.header__search-select {
    border-left: 1px solid #ccc;
    padding-left: 16px;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.header__search-select:hover .search-option {
    display: block;
}

.search-select__label {
    color: var(--text-color);
}

.search-select__icon {
    color: #4a4a4a;
    margin: 0 12px 0 8px;
}

.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    border-radius: 2px;
    margin-right: 3px;
    width: 60px;
    outline: none;
}
.header__search-btn:hover {
    cursor: pointer;
    background-color: #ff5b3a;
}

.search-btn__icon {
    font-size: 1.4rem;
    color: var(--white-color);
    padding: 0 15px;
}

.search-option {
    position: absolute;
    right: 0;
    top: calc(100% + 1px);
    width: 120px;
    padding-left: 0px;
    box-shadow: 0 1px 4px #999999;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.1s;
}

.search-option::before {
    content: "";
    display: block;
    position: absolute;
    height: 30px;
    top: -20px;
    left: 0;
    width: 100%;
}

.search-option__item {
    background-color: var(--white-color);
    font-size: 1.4rem;
    list-style: none;
    height: 40px;
    display: flex;
    align-items: center;
}

.search-option__item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.search-option__item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.search-option__item:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.search-option__item span {
    color: var(--text-color);
    padding-left: 20px;
}

.search-option__item i {
    color: var(--primary-color);
    font-size: 1rem;
    margin-left: 8px;
    display: none;
}

.search-option__item--active i {
    display: inline-block;
}

/* App container */
.app__container {
    background-color: #f5f5f5;
}

.category {
    background-color: var(--white-color);
    border-radius: 2px;
}

.category__heading {
    color: var(--text-color);
    font-size: 1.7rem;
    padding: 12px 16px;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.05); */
}

.category__heading-icon {
    font-size: 1.4rem;
    margin-right: 12px;
}

.category-list {
    padding-left: 0;
    padding-bottom: 8px;
    list-style: none;
    margin-top: 8px;
    margin-left: 8px;
}

.category-item {
    
}

.category-item__link {
    position: relative;
    right: 0;
    transition: right linear 0.1s;
    display: block;
    padding: 8px 0px;
    margin: 0 16px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
}

.category-item__link:hover {
    right: -4px;
    color: var(--primary-color);
}

.category-item--active .category-item__link {
    color: var(--primary-color);
}

.category-item--active .category-item__link::before {
    content: "";
    position: absolute;
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
    left: -8px;
    top: 50%;
    transform: translateY(calc(-50% - 1px));
}